<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <title>Danh sách</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="container">
    <h1>📚 Danh sách </h1>

    <div class="search-row" style="margin-bottom: 15px;">
      <input type="text" id="searchInput" placeholder="🔍 Nhập tên sách hoặc tác giả để tìm...">
      <button class="btn-search" id="btn-search"> Tìm</button>
    </div>

    <div class="form-row">
      <input type="text" id="authorInput" placeholder="Tên tác giả">
      <input type="text" id="bookInput" placeholder="Tên sách">
      <button class="btn-add" id="btn-add">+ Thêm sách</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>STT</th>
          <th>Tác giả</th>
          <th>Tên sách</th>
          <th>Xoá</th>
        </tr>
      </thead>
      <tbody id="bookTableBody">
        <!-- Các dòng sách sẽ được thêm vào đây -->
      </tbody>
    </table>
  </div>

  <script src="/js/main.js"></script>
</body>

</html>